.omni_env/
arduino_thread.log

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
*.egg-info/
logs/

# Node / React
gui-user/node_modules/
gui-user/.vite/
config.local.*
__pycache__/

# Jupyter
notebooks/.ipynb_checkpoints/
notebooks/*.ipynb~

# OS
.DS_Store
Thumbs.db

# Secrets
*.env